@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Hairline.otf);
	font-style: normal;
	font-weight: 100
}

@font-face {
	font-family: Montserrat-bold;
	src: url(../fonts/Montserrat-SemiBold.otf);
	font-style: normal;
	font-weight: 100
}

body {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.clear_f {
	clear: both;
}

#menu {
	width: 64px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #fff;
}

#menu ul li {
	width: 100%;
	height: 64px;
	text-align: center;
	cursor: pointer;
}

#menu ul li span {
	margin-top: 18px;
	font-size: 25px;
}

#menu #home-btn {
	background: #33B573;
}

#menu #home-btn span {
	color: #fff;
}

#contents {
	width: 100%;
	background: #000;
	float: right;
}

footer {
	background: #ddd;
	float: right;
}

.chat-btn {
	background: #0df;
	width: 200px;
	height: 50px;
	cursor: pointer;
}

.chat-lid {
	width: 280px;
	height: 50px;
	position: fixed;
	right: 20px;
	display: none;
	overflow: visible;
}

.chat-lid-in {
	width: 100%;
	height: 360px;
	background: #F5EEEE;
	position: relative;
	top: -310px;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.chat-lid-in .msg {
	position: relative;
	top: 300px;
	width: 100%;
}

.chat-lid-in .msg input {
	width: 100%;
	height: 30px;
	outline: 0;
	border: none;
	border-top: 1px solid #aaa;
	box-shadow: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: initial;
}

.chat-lid-in-title {
	background: #33B573;
	height: 30px;
	width: 100%;
	position: relative;
	top: 0;
	cursor: pointer;
}

.chat-view-btn {
	width: 100%;
	height: 100%;
	background: #eee;
	position: relative;
	cursor: pointer;
}

.chat-view-btn:hover {
	background: #ddd;
}

#headernavi {
	height: 64px;
	float: right;
}

#title_name {
	width: 320px;
	height: 64px;
	float: left;
	background: #33B573;
}

#headernavi #buttonclass {
	float: right;
}

#headernavi #joinbtn, #headernavi #member-info-btn {
	width: 126px;
	height: 64px;
	float: right;
	background: #fff;
	cursor: pointer;
}

#headernavi #joinbtn span, #member-info-btn span {
	float: left;
	color: #129994;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
	text-align: left;
	padding-left: 16px;
	margin-top: 25px;
}

#loginbtn, #logoutbtn {
	width: 126px;
	height: 64px;
	float: right;
	background: #129994;
	cursor: pointer;
}

#loginbtn span, #logoutbtn span {
	float: left;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
	text-align: left;
	padding-left: 16px;
}

#login-form {
	background-color: rgba(33, 61, 78, 0.7);
	width: 580px;
	height: 100%;
	position: absolute;
	top: 65px;
	right: 0px;
	display: none;
}

#login-form #info-group label {
	display: block;
	float: left;
	padding: 0 16px 0 0;
	width: 170px;
	color: #788994;
	text-align: right;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	line-height: 40px;
	box-sizing: initial;
}

#login-form #info-group input[name=id], #login-form #info-group input[name=pw] {
	display: block;
	float: left;
	margin: 0 0 16px;
	padding: 8px;
	width: 252px;
	height: 24px;
	background-color: #b6c8cd;
	color: #213D4E;
	font-size: 13px;
	transition: background-color .2s;
	outline: 0;
	border: none;
	box-shadow: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: initial;
}

#login-title {
	font-size: 34px;
	color: #3A9E97;
	font-family: Montserrat-bold;
	padding: 56px 24px 24px 84px;
}

#login-title b {
	text-transform: uppercase;
}

#joinform {
	background: #4374D9;
	width: 560px;
	height: 100%;
	position: absolute;
	top: 65px;
	left: 64px;
	display: none;
}

#login-btn-group {
	top: 280px;
	height: 88px;
	width: 100%;
	display: table;
	margin-top: 30px;
}

#facebookLogin {
	display: block;
	float: left;
	padding: 24px 0 0 24px;
	width: 160px;
	height: 64px;
	background-color: #33B573;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	transition: background-color .2s, color .2s;
	cursor: pointer;
	box-sizing: initial;
}

#facebookLogin:hover {
	background-color: #0F975D;
}

#login-btn {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	width: 396px;
	height: 88px;
	border: 0;
	background-color: #129994;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 23px;
	line-height: 88px;
	transition: background-color .2s;
	cursor: pointer;
	box-sizing: initial;
}

#login-btn:hover {
	background-color: #2E827E;
}