@import 
url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

#header {
	display: table;
	margin-left: 10%;
	font-family: 'Nanum Gothic Coding';
}

#tbl {
	display: table;
	margin-left: 10%;
}